{% comment %}
Takes (optionally) login_form
{% endcomment %}

<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" type="text/css" href="format.css" />
    <title>{% block title %}WOTW{% endblock %}</title>
  </head>
  <body>
  	<header>
		<h1>WOTW</h1>
		<p>
			<a href="{% url "admin:index" %}">Admin site</a>
		</p>
	</header>
	
	{% if not user.is_authenticated %}
		<section>
			<h2>Start Playing</h2>
			<p>
				You can
				<a href="{% url 'start_game' %}">
					start playing right now
				</a>
				and make an account to save your character.
			</p>
		</section>
	{% endif %}
	
	{% if login_form %}
		<section>
			<h2>Login</h2>
			
			<form action="/" method="POST">
				{% csrf_token %}
				{{ login_form.as_p }}
				<input type="submit" value="Login" />
			</form>
		</section>
	{% endif %}
	
	{% if user.is_authenticated %}
		<section>
		<h2>Continue playing ({{ user }})</h2>
		<p>
			<a href="{% url 'game:index' %}">Continue playing</a> or perhaps
			<a href="{% url 'django.contrib.auth.views.logout' %}">logout</a>.
		</p>
	{% endif %}
	
  </body>
</html>