{% extends "game/game_base.html" %}
{% load wotw_extras %}


{% block page_content %}
	
{% if char.inventory_mode == char.INV_FULL_ACCESS or char.inventory_mode == char.INV_VIEW_ONLY %}
	{% if char.inventory_mode == char.INV_FULL_ACCESS %}
		<h2>Inventory</h2>
	{% else %}
		<h2>Inventory (View Only)</h2>
	{% endif %}
	<p>Slots free: {{ char.inventory.num_free_slots }}</p>
	
	{% for item, total_stack_size in inv_cv %}
		<h3>{{ item.name }}</h3>
		<p>
		{% with max_stack_size=item.max_stack_size%}
		{% with num_stacks=total_stack_size|div:item.max_stack_size|ceil %}
			You have {{total_stack_size}} (over
			~{{ num_stacks }} slot{{ num_stacks|pluralize }}).
			<br />
			(Max. stack size: {{ max_stack_size }})
		{% endwith %}
		{% endwith %}
		</p>
		{% with props=item.get_props %}
			{% if props %}
				<ul>
				{% for prop_name, prop_value in props %}
					<li>{{ prop_name|capfirst }}: {{ prop_value }}</li>
				{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}
		{% if item.get_item_actions %}
			<ul>
			{% for item_action, display_text in item.get_item_actions %}
				<li>Still have to check for incombat::</li>
				{% if char.inventory_mode == char.INV_FULL_ACCESS %}
					<li>Do action: {% action_link "inventory-item-action" display_text "item-name" item.name "action-name" item_action.func %}</li>
				{% else %}
					<li>Action (not currently doable): {{ display_text }}</li>
				{% endif %}
			{% endfor %}
			</ul>
		{% endif %}
		{% if char.inventory_mode == char.INV_FULL_ACCESS %}
			<p>
				{% action_link "inventory-drop-item" "Drop 1 of this item" "item-name" item.name "amount" "1" %}
				{% if total_stack_size > 1 %}
					<br />
					{% action_link "inventory-drop-item" "Drop all of these" "item-name" item.name "amount" "all" %}
				{% endif %}
			</p>
		{% endif %}
	{% empty %}
		<p>You have no items in your inventory</p>
	{% endfor %}
{% else %}
	<h2>Inventory Blocked</h2>
{% endif %}

{% endblock %}